.leagueHeader {
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
  padding: 7rem 3rem;
}

.homeBannerImg {
  background-image: url(./../../Images/Banner/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}
